.heading{
    font-size: 5.4rem;
    margin: 2rem 0;
    margin-top: 6rem;
}
.table-wrapper{
    overflow-x: scroll;
}
.orders-table td{
    padding: 1rem;
}
.col-id,
.col-customer,
.col-status,
.col-total,
.col-details{
    width: 10%;
}
.col-date,
.col-deadline{
    width: 15%;
}
.col-notes{
    width: 20%;
}
.select{
    all: unset;
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--gray);
    border-radius: .5rem;
    cursor: pointer;
}
.details{
    cursor: pointer;
    font-size: 1.8rem;
}
.details-active td{
    background-color: var(--gray_dashboard);
}
.products-table{
    border-spacing: 0;
    border-radius: 0;
    overflow: hidden;
}
.products-table th{
    padding: .5rem;
    font-size: 1.2rem;
}
.products-table td{
    padding: .5rem;
    font-size: 1rem;
    margin: 0;
    border-bottom: 2px solid var(--gray) !important;
}
.products-table tr:last-of-type td{
    border-bottom: none !important;
}
.imgAX {
    height: 300px;
    width: 400px;
}
.products23{
    background-color: var(--gray_dashboard);
    position: relative;
}
.products23 td{
    background-color: var(--gray_dashboard);
    font-size: 12px;
    position: relative;
}
.infofloatl{
    float: left;
    margin-right: 10px;
    
}
.infofloatr{
    float: right;
    margin-right: 10px;
    font-weight: normal;
}
.infofloatrb{
    font-weight: bold ;
}
.Descriptioncontfather{
    display: flex;
    flex-direction: row;
}
.Descriptioncont{
   flex: 1;
   display: flex;
   flex-direction: column;
}
.STW{
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
   margin: 5px;
    float: right;
}