.Profile {
    border-radius: 14px;
    background-color: #fff;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    min-width: 300px;
    Height: 300px;
    margin: 10px;
    flex: 1;

}
.Profile:hover{
    min-width: 310px;
    Height: 310px;
    padding: 5px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    margin: 5px;
    transition: 0.4s;


}
.ProfilePic{
    border-radius: 60%;
    height: 100px;
    width: 100px;
    Postion: relative;
    Margin: 20px
}
.ProfileHead{
    margin-left: 20px;
}
.Dashboard{
    margin: 100px;
    
}
.row{
    width: 1200px;
    display: flex;
}
.Menu{
    border-radius: 14px;
    flex: 1;
    background-color: rgb(78, 80, 82, 0.6);
    min-width: 300px;
    Height: 300px;
    margin: 10px;
}
.Menu:hover{
    min-width: 310px;
    Height: 310px;
    padding: 5px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    margin: 5px;
    transition: 0.4s;


}
.Menu-item{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 50px;
    Height: 50px;
    margin: 10px;
}

.big{
    border-radius: 14px;
    flex: 2;
    background-color: #fff;
    min-width: 600px;
    Height: 300px;
    margin: 10px;
}
.big:hover{
    min-width: 610px;
    Height: 310px;
    padding: 5px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    margin: 5px;
    transition: 0.4s;
}
.bigtop{
    position: relative;
    width: 600px;
    background-color: rgba(171, 185, 197, 0.445);
    backdrop-filter: blur(8px); /* Blur the background color */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 60px;
    padding: 5px;
}

.big:hover .bigtop{
    width: 610px;
    Height: 55px;
    transition: 0.4s;
    margin: -5px 0 0 -5px; /* Adjust margins to compensate for padding and box-shadow */
    padding: 5px; /* Restore padding */
}

.Most{
    border-radius: 14px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    Height: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Most:hover{
    min-width: 310px;
    Height: 310px;
    padding: 5px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    margin: 5px;
    transition: 0.4s;


}

.Most h4{
    margin:10px;
}
.Mostproduct{
    width: 250px;
    filter: drop-shadow(10px 10px 10px grey);
}
.profilecard{
    margin: 10px;
    flex: 2;
    background-image: url('../../assets/img/backgroundcard.jpg');
    background-blend-mode: color;
    background-position: center;
    border-radius: 15px;
    min-width: 620px;
    Height: 300px;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3); /* Box shadow for depth */
    color: #DD9A05;
    
  }

  .profilecard:hover{
    min-width: 630px;
    Height: 310px;
    padding: 25px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
    margin: 5px;
    transition: 0.4s;
}
  .profilecard h3{
    font-size: 50px;


  }

  .linkother{
    align-items: left;
    text-align: left;
    border: none;
    color: #b8a38f;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
  }
  
  .linkother:hover{
    color: var(--dark_grey);
  }

.Homehead{
    width: 1200px;
    font-size: 7.4rem;
    text-align: center;
}


.Homehead-grey{
    color: #706c67;
    font-size: 7.4rem;
    text-align: center;
}