.dashboardcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Initial position off-screen at the bottom */
    opacity: 0%;
    /* Apply transition */
    transition:  opacity 0.7s ease-in-out;
}

/* Final position in view */
.visible {
 opacity: 100%;

}
.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
}
.Homehead {
    width: 1200px;
    font-size: 7.4rem;
    text-align: center;
}
.Homehead-grey {
    color: #706c67;
    font-size: 7.4rem;
    text-align: center;
}
.row {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    height: 30rem;
    gap: 2rem;
}


.Menu {
    border-radius: 14px;
    background-color: rgba(78, 80, 82, 0.315);
    backdrop-filter: blur(14px);
    align-items: center;
    align-content: center;
    text-align: center;
    color: #fff;
    font-size: 3.4rem;
    font-weight: bold;
    flex: 1;
}
.Menu i{
    font-size: 8rem;
}
.Menu:hover {
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.4s;
    transform: scale(1.02);
}

.square:hover {
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.4s;
    transform: scale(1.02);
  
}

