.dashboard{
    display: flex;
    height: 100vh;
}
@media (max-width: 478px){
    .dashboard{
        flex-direction: column;
    }
}
.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gray_dashboard);
    overflow-x: scroll;
}
.main{
    flex: 1;
    /* background-color: var(--white); */
    padding: 0 3rem;
    overflow: scroll;
    scrollbar-width: none;
}
@media (max-width: 1024px){
    .main{
        padding: 0 1rem;
    }
}
.red-box {
    width: 3.5rem;
    height: 9rem;
    font-size: 1.2rem;
    background-color: var(--red);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    top: 80%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    cursor: pointer; /* Add cursor style to indicate it's clickable */
}
.red-box:hover {
    width: 5rem;
    height: 11rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.red-box p{
    transform: rotate(180deg);
    margin: 0;
}