.heading{
    font-size: 3rem;
    font-weight: 400;
}
@media (min-width: 1450px){
    .heading{
        font-size: 4rem;
    }
}
.description{
    font-size: 1.6rem;
    color: var(--dark_gray);
}
@media (min-width: 1450px){
    .description{
        font-size: 2.1rem;
    }
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}
@media (min-width: 1450px){
    .form{
        margin-top: 4rem;
    }
}
.field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.field input[type="text"], .field input[type="email"]{
    border: 2px solid color-mix(in xyz-d50, var(--gray) 95%, #000);
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 2rem 1rem;
    background-color: transparent;
}
@media (min-width: 1450px){
    .field input[type="text"], .field input[type="email"]{
        padding: 1.5rem;
    }
}
.field input[type="text"]:focus, .field input[type="email"]:focus{
    outline: none;
    border: 2px solid var(--dark_blue);
}
.field input[type="text"]::placeholder, .field input[type="email"]::placeholder{
    color: color-mix(in xyz-d50, var(--light_gray) 50%, #000);
}
.field label{
    font-size: 1.8rem;
}
@media (min-width: 1450px){
    .field label{
        font-size: 2.4rem;
    }
}
.submit{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 0;
    background-color: var(--dark_blue);
    color: #FFFFFF;
    transition: background-color 0.2s ease;
    height: auto;
}
.submit:hover{
    background-color: color-mix(in xyz-d50, var(--dark_blue) 60%, #000);
    transition: background-color 0.2s ease;
}
.actions{
    font-size: 1.6rem;
    color: var(--dark_gray);
}
.actions a{
    color: var(--dark_blue);
}
@media (min-width: 1450px){
    .actions{
        font-size: 1.8rem;
    }
}

.loading{
    opacity: .5;
    cursor: not-allowed;
}
/* Show the exit button only on small screens */
@media (max-width: 767px) {
    .exit {
        display: flex; /* Show exit button on small screens */
        justify-content: end;
        color: #000;
        font-size: 3rem;
        
    }
}

/* Hide the exit button on larger screens */
@media (min-width: 768px) {
    .exit {
        display: none; /* Hide exit button on larger screens */
    }
}