.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 15rem;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}


.field label {
    font-size: 1.4rem;
}
.required{
    position: relative;
}
.required::after {
    position: absolute;
    content: "*";
    color: var(--red);
}
.field textarea {
    resize: none;
}

.field input,
.field textarea {
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1);
    /* Box shadow for depth */
    border-radius: 1rem;
}

.field-two-columns {
    display: grid;
    padding: 0 4rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--white);
}

.input-color {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-color div {
    width: 6rem;
    height: 3rem;
}

.input-category {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.input-category input {
    width: 95%;
}

.initial-categories {
    position: absolute;
    z-index: 2;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 12.209rem;
    overflow: scroll;
}

.initial-categories button {
    all: unset;
    margin: 0;
    padding: 1rem;
}

.initial-categories button:hover {
    background-color: var(--blue);
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
}

.btn-add-category {
    all: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
}

.preview p {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
}

.button {
    all: unset;
    background-color: var(--blue);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.button:hover {
    background-color: var(--dark_blue);
}

.delete-publish {
    display: flex;
    gap: 1rem;
}

.btn-publish {
    background-color: var(--green);
    width: 50%;
}

.btn-publish:hover {
    background-color: color-mix(in srgb, var(--green) 85%, #000);
}

.btn-unpublish {
    background-color: color-mix(in srgb, var(--yellow) 90%, #000);
    width: 50%;
}

.btn-unpublish:hover {
    background-color: color-mix(in srgb, var(--yellow) 80%, #000);
    width: 50%;
}

.btn-delete {
    background-color: var(--red);
    width: 50%;
}

.btn-delete:hover {
    background-color: color-mix(in srgb, var(--red) 85%, #000);
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-delete {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    align-items: center;
}

.btn-delete-category {
    all: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--red);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
}

.input-subcategories {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-subcategories-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.input-subcategories input {
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

.initial-subcategories {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 90%;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 10.828rem;
    overflow: scroll;
}

.initial-subcategories button {
    all: unset;
    margin: 0;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: .5rem;
}

.initial-subcategories button:hover {
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
}

.subcategories {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
}

.subcategories p {
    background-color: var(--blue);
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    user-select: none;
}


.field-images {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    gap: 1rem;
    align-items: center;
}

.field-images p{
    margin: .5rem 0;
    font-size: 1.4rem;
}

.field-images input {
    display: none;
}

.field-images svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
}

.field-images label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 50px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.field-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.field-images span {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    margin-top: 1rem;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
    font-size: 1.4rem;
}

.field-images span:hover {
    background-color: rgb(14, 14, 14);
}

.field-images-done svg {
    fill: var(--blue);
}

.field-images-done label {
    font-weight: bolder;
    background-color: #c3c2fc;
    border: 2px dashed var(--blue);
}
.field-images-done span {
    background-color: var(--blue);
}

.empty-field-image label{
    border: 2px dashed var(--red);
    background-color: color-mix(in srgb, var(--red) 20%, #fff );
}
.empty-field-image svg {
    fill: var(--red);
}
.empty-field-image span {
    background-color: var(--red);
}

.field-images-done span:hover {
    background-color: color-mix(in srgb, var(--blue) 80%, #000);
}
input.empty-field, textarea.empty-field{
    border: 1px solid var(--red);
    background-color: color-mix(in srgb, var(--red) 30%, #fff);
}
.btn-saving{
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%, 100% {
      color: #fff; /* Color original */
    }
    50% {
      color: #838383; /* Color opaco */
    }
}
