@font-face {
  font-family: 'Cinzel';
  src: url('../assets/Fonts/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900; /* Assuming the font supports weights from 200 to 900 */
  font-style: normal;
}
@font-face {
  font-family: 'Chalk';
  src: url('../assets/Fonts/Chalk/Chalk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'DocallismeOnStreet';
    src: url('../assets/Fonts/docallisme_on_street/DOCALLISME%20ON%20STREET.ttf') format('truetype');
}
@font-face {
  font-family: 'LightningBolt';
  src: url('../assets/Fonts/lightning_bolt_2/Lightning%20Bolt.ttf') format('truetype');
}
@font-face {
  font-family: 'markbats_12';
  src: url('../assets/Fonts/markbats_12/Markbats12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'aurora_pro';
  src: url('../assets/Fonts/aurora_pro/AURORA-PRO.otf') format('opentype');
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff9f95b;
}

.navB {
  float: left;
}

.navB  a {
  display: block;
  color: var(--dark_gray);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navB a:hover {
  background-color: #cfcdcd;
}

.active {
  background-color: #04AA6D;
}

.rightnavB{
  float: right;
}

.rightnavB a {
  display: block;
  color: var(--dark_gray);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.rightnavB a:hover {
  background-color: #cfcdcd;
}
.head{
  width: 80%;
  margin-left: 10%;
  font-size: 5.4rem;
  text-align: center;
}
.logo{
  align-items: center;
  width: 250px;
  height: 250px;
}
.header{
  text-align: center;
  margin-top: 100px;
}

.HDLogoFont{
  font-family: 'Cinzel', serif;
  color: #ce9700;

}
.ChalkLogoFont{
  font-family: 'Chalk', serif;
  color: #858383;
}
.GraflogoFont{
  font-family: 'DocallismeOnStreet', serif;
  color: #bd0404;
}
.ShocklogoFont{
  font-family: 'LightningBolt', serif;
  color: #f1bc29;
}
.WarplogoFont{
  font-family: 'markbats_12', serif;
  color: #00268d;
}
.WavelogoFont{
  font-family: 'aurora_pro', serif;
  color: #0099f1;
}
.Trueheader{
  padding: 0%;
  margin: 0%;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  background-color: black;
}