.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff9f9d0;
    position: fixed;   /* Make the navbar stick to the top */
    top: 0;            /* Position it at the top of the viewport */
    width: 100%;       /* Make it span the full width of the viewport */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;      /* Make sure it appears above other elements */
  }
  .nav{
    margin-bottom: 80px;
  }
  
  .navB {
    float: left;
  }
  
  .navB  a {
    display: block;
    color: var(--dark_gray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navB a:hover {
    background-color: #cfcdcd;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .rightnavB{
    float: right;
  }
  
  .rightnavB a {
    display: block;
    color: var(--dark_gray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .rightnavB a:hover {
    background-color: #cfcdcd;
  }

  .footer{
    background-color: #ffffffd0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
  }

  .footermenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(22, 21, 21, 0.432);
    background-color: #ffffffd0;
 
  }

  .footerimg{
    background-color: #ffffffd0;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px; 
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.23);
    transition: ease-out 0.3s;
    
    }

.footerimg:hover{
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.321);
}
.footerimgdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd0;
    padding: 10px;
 
}

.learnMore {
  font-size: 1.8rem;
  color: #124f8c; 
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Mejora en transición */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadido sombra al botón */
  padding: 6px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px; /* Botón más redondeado */
  cursor: pointer;
  width: 30%;
}


.learnMore:hover {
  background-color: #8a96a2;
}
