.content{
    position: relative;
}
.btn-back{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: var(--dark_blue);
    cursor: pointer;
}
.heading{
    font-size: 3rem;
    font-weight: 400;
}
@media (min-width: 1450px){
    .heading{
        font-size: 4rem;
    }
}
.actions{
    font-size: 1.6rem;
    color: var(--dark_gray);
}
.actions a{
    color: var(--dark_blue);
}
@media (min-width: 1450px){
    .actions{
        font-size: 1.8rem;
    }
}
.steps{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}
.step{
    all: unset;
    width: 7rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: color-mix(in xyz-d50, var(--gray) 97%, #000);
    cursor: pointer;
}
.step-active{
    background-color: var(--dark_blue);
}
.form-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}
.google-btn{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 0;
    width: 100%;
    border: 2px solid color-mix(in xyz-d50, var(--gray) 95%, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.google-btn:hover{
    background-color: var(--gray);
}
.google-btn p{
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
.google-icon{
    width: 1.7rem;
    height: 1.7rem;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.field input{
    border: 2px solid color-mix(in xyz-d50, var(--gray) 95%, #000);
    border-radius: 1rem;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    background-color: transparent;
}
@media (min-width: 1450px){
    .field input{
        padding: 1.5rem;
    }
}
.field input:focus{
    outline: none;
    border: 2px solid var(--dark_blue);
}
.field input::placeholder{
    color: color-mix(in xyz-d50, var(--light_gray) 50%, #000);
}
.field label{
    font-size: 1.8rem;
}
@media (min-width: 1450px){
    .field label{
        font-size: 2.4rem;
    }
}
.account-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
@media (min-width: 480px){
    .account-types{
        padding: 2rem 6rem;
    }
}
.account-type{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color: #FFFFFF;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
}
.account-type:hover, .account-type-active{
    background-color: color-mix(in xyz-d50, var(--dark_blue) 30%, #000);
}
.account-type i{
    font-size: 5rem;
    padding: 2rem 0;
}
.security{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.security-bar{
    flex: 1;
    height: .7rem;
    border-radius: 1rem;
    background-color: color-mix(in xyz-d50, var(--gray) 95%, #000);
}
.security-bar div{
    display: block;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--green);
    width: 80%;
}
.hide{
    position: relative;
}
.hide input{
    width: 100%;
}
.hide i{
    position: absolute;
    color: color-mix(in xyz-d50, var(--gray) 95%, #000);
    font-size: 1.8rem;
    cursor: pointer;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.flags{
    display: grid;
    grid-template-areas:    "char8 num"
                            "mayus special";
    row-gap: 1rem;
    padding: 0 1rem;
}
.flag{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: color-mix(in xyz-d50, var(--gray) 70%, #000);
}
.flag p{
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
.flag i{
    font-size: 1.2rem;
}
.flag-char{
    grid-area: char8;
}
.flag-num{
    grid-area: num;
}
.flag-mayus{
    grid-area: mayus;
}
.flag-special{
    grid-area: special;
}
.flag-active{
    color: var(--dark_blue);
}
.error-password input, .error-password input:focus{
    border: 2px solid var(--red);
}
.error-password p{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: var(--red);
}
.verify-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.verify-image img{
    width: 40%;
}
.verify-image p{
    margin: 0;
    font-weight: var(--bold);
}
.verify-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.verify-code button{
    all: unset;
    margin: 0;
    font-size: 1.6rem;
    color: var(--dark_blue);
}
.verify-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.verify-inputs input{
    width: 3rem;
    font-size: 2.6rem;
    text-align: center;
    border: 2px solid color-mix(in xyz-d50, var(--gray) 95%, #000);
    border-radius: .5rem;
    padding: .5rem 0;
    height: auto;
}
.verify-instructions{
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
}
.change-number{
    all: unset;
    font-size: 1.2rem;
    color: var(--red);
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.verify-instructions span{
    font-weight: var(--bold);
}
.submit{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: var(--dark_blue);
    color: #FFFFFF;
    transition: background-color 0.2s ease;
}
.submit:hover{
    background-color: color-mix(in xyz-d50, var(--dark_blue) 60%, #000);
    transition: background-color 0.2s ease;
}