.big {
    border-radius: 14px;
    background-color: #fff;
    width: 50%;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3);
    display: flex;
    flex-direction: column;
}
.big:hover {
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.4s;
    transform: scale(1.02);
}

.bigtop {
    background-color: rgba(171, 185, 197, 0.445);
    backdrop-filter: blur(8px);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: .5rem 2rem;
}
.Noinvent{
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.happyax{
    width: 100px;
}
.updates {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.anouncetable {
    border: none;
    border-radius: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
.anouncetable thead{
    background-color: var(--gray);
}
.anouncetable th{
    padding: 1rem;
    font-size: 1.4rem;
}
.anouncetable td{
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--gray);
}
.anouncetable tr:last-of-type td{
    border-bottom: none;
}
.status{
    padding: .5rem 0;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    width: 4rem;
    display: inline-block;
    margin: 0 auto;
}
.status-high{
    background-color: color-mix(in srgb, var(--green) 30%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000000);
}
.status-medium{
    background-color: color-mix(in srgb, var(--yellow) 30%, #fff);
    color: color-mix(in srgb, var(--yellow) 80%, #000000);
}
.status-low{
    background-color: color-mix(in srgb, var(--red) 30%, #fff);
    color: color-mix(in srgb, var(--red) 80%, #000000);
}
.select{
    all: unset;
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
.select-IP{
    background-color: color-mix(in srgb, var(--yellow) 20%, #fff);
    color: color-mix(in srgb, var(--yellow) 80%, #000);
}
.select-S{
    background-color: color-mix(in srgb, var(--green) 20%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000);
}
.select-C{
    background-color: color-mix(in srgb, var(--blue) 20%, #fff);
    color: color-mix(in srgb, var(--blue) 80%, #000);
}
.select-CA{
    background-color: color-mix(in srgb, var(--red) 20%, #fff);
    color: color-mix(in srgb, var(--red) 80%, #000);
}