.Profile {
    border-radius: 14px;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 25%;
    justify-content: center;
}
.Profile:hover {
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.4s;
    transform: scale(1.02);
}
.ProfilePic {
    border-radius: 60%;
    height: 100px;
    width: 100px;
    position: relative;
    Margin: 20px;
 
}
.ProfileHead {
    margin-left: 20px;
    margin-right: 20px;
}