.profilecard {
    background-image: url('../../../assets/img/backgroundcard.jpg');
    background-blend-mode: color;
    background-position: center;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3);
    color: #DD9A05;
}
.profilecard:hover {
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.4s;
    transform: scale(1.02);
}
.profilecard h3 {
    font-size: 50px;
}
.linkother {
    align-items: left;
    text-align: left;
    border: none;
    color: #b8a38f;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.linkother:hover {
    color: #DD9A05;
}