.heading{
    font-size: 5.4rem;
    margin: 2rem 0;
    margin-top: 6rem;
}
.guardar{
    background-color: var(--blue);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
}
.input-stock{
    width: 5rem;
    text-align: center;

}
.guardar:hover{
    background-color: rgb(42, 14, 143);
}

.editar{
    background-color: var(--dark_gray);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
}
.editar:hover{
    background-color: black;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 163);
    padding: 5px;
    height: 20px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
}
.cargar{
    background-color: var(--dark_gray);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
}
.cargar:hover{
    background-color: black;
}

.cell-select input,
.col-select input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid var(--dark_gray);
    transition: all .3s ease-in-out;
}

.cell-select input:checked,
.col-select input:checked {
    background-color: var(--dark_gray);
    transition: all .3s ease-in-out;
    position: relative;
}

.cell-select input:checked::after,
.col-select input:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '✓';
    color: var(--white);
}
/* costumers.module.css */
.container {
    position: relative;
}
.selected {
    display: flex; /* Make .selected a flex container */
    align-items: center; /* Center items vertically */
    position: absolute;
    top: -60px;
    right: 0px;
    margin: 10px;
    width: 200px;
}

.counter {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between counter and delete button */
}

.delete {
    flex: 0 0 auto; /* Don't grow or shrink, keep its size */
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.delete:hover{
    background-color: rgb(145, 12, 12);
}
.deletemini{
    flex: 0 0 auto; /* Don't grow or shrink, keep its size */
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    margin-left: 10px;
}
.deletemini:hover{
    background-color: rgb(145, 12, 12);
}
.selectedRow{
    border: #d1c5ff;
}
/* Override styles for table cells inside selected row */
.selectedRow td {
    background-color: #eef1f3; /* Change this to the color you prefer */
 
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
}
.back{
    height:200px;
    width: 1000px;
}
.top{
    display: flex;
}
.topcontent{
  flex:1;
   
}
table{
    margin-top: 20px;
}
.configinventory{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}