.inventory-wrapper{
    padding-bottom: 6rem;
}
.heading{
    font-size: 5.4rem;
    margin: 2rem 0;
    margin-top: 6rem;
}
.topimage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.guardar{
    background-color: var(--blue);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
}
.input-stock{
    width: 5rem;
    text-align: center;

}
.col-select,
.col-stock,
.col-status {
    width: 10%;
}

.col-product{
    width: 30%;
}

.col-price,
.col-edit {
    width: 20%;
}
.guardar:hover{
    background-color: rgb(42, 14, 143);
}

.editar{
    background-color: var(--dark_gray);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
}
.editar:hover{
    background-color: black;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 163);
    padding: 5px;
    height: 20px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
}
.cargar{
    background-color: var(--dark_gray);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
}
.cargar:hover{
    background-color: black;
}
.cell-select input,
.col-select input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid var(--dark_gray);
    transition: all .3s ease-in-out;
}

.cell-select input:checked,
.col-select input:checked {
    background-color: var(--dark_gray);
    transition: all .3s ease-in-out;
    position: relative;
}
.status{
    padding: .5rem 0;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    width: 4rem;
    display: inline-block;
    margin: 0 auto;
}
.status-high{
    background-color: color-mix(in srgb, var(--green) 30%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000000);
}
.status-medium{
    background-color: color-mix(in srgb, var(--yellow) 30%, #fff);
    color: color-mix(in srgb, var(--yellow) 80%, #000000);
}
.status-low{
    background-color: color-mix(in srgb, var(--red) 30%, #fff);
    color: color-mix(in srgb, var(--red) 80%, #000000);
}

.cell-select input:checked::after,
.col-select input:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '✓';
    color: var(--white);
}
/* costumers.module.css */
.container {
    position: relative;
}
.selected {
    display: flex; /* Make .selected a flex container */
    align-items: center; /* Center items vertically */
    position: absolute;
    top: -60px;
    right: 0px;
    margin: 10px;
    width: 200px;
}

.counter {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between counter and delete button */
}

.delete {
    flex: 0 0 auto; /* Don't grow or shrink, keep its size */
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.delete:hover{
    background-color: rgb(145, 12, 12);
}
.deletemini{
    flex: 0 0 auto; /* Don't grow or shrink, keep its size */
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    margin-left: 10px;
}
.deletemini:hover{
    background-color: rgb(145, 12, 12);
}
.selectedRow{
    border: #d1c5ff;
}
/* Override styles for table cells inside selected row */
.selectedRow td {
    background-color: #eef1f3; /* Change this to the color you prefer */
 
    /* box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); */
}
.back{
    height:200px;
    width: 1000px;
}
.top{
    display: flex;
}
.topcontent{
  flex:1;
   
}
.configinventory{
    float: right;
    background-color:  #5a5a5a;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
}
.configinventory:hover{
    background-color: #000000;
}
.imgAX {
    height: 300px;
    width: 400px;
}
.noproducts {
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;
}

.noproducts a {
    color: var(--blue);
}
.loading{
    animation: pulse 2s infinite;
    cursor: progress;
}
@keyframes pulse {
    0%, 100% {
      color: #fff; /* Color original */
    }
    50% {
      color: #838383; /* Color opaco */
    }
}



.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
    align-items: center;
}

.Textfilter {
    margin-right: 10px;
}

.searcher {
    position: relative;
}

.searcher input {
    padding: .5rem .5rem .5rem 3rem;
    width: 400px;
    height: 40px;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
    margin: 0;
    background-color: var(--white);
}

.search-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1rem;
    font-size: 1.2rem;
    color: var(--dark_gray);
}
.searcher {
    display: flex;
    align-items: center;
}
.btn-filter {
    all: unset;
    margin-left: 0rem;
    cursor: pointer;
    background-color: transparent;
}

.filterter {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
    position: relative;
}

.darkmode,
.filterter {
    cursor: pointer;
    border-radius: 1rem;
}


.dropdown {
    position: absolute;
    display: none;
    bottom: 0rem;
    /* Position the dropdown content below the profile element */
    transform: translateY(100%);
    width: 12rem;
    z-index: 1;
}

.dropdownContent {
    background-color: var(--white);
    flex-basis: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 12rem;
    overflow: hidden;
}

.dropdownContent button {
    all: unset;
    font-weight: var(--bold);
    padding: 1rem 1.4rem;
    border-radius: 0rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: calc(100% - 2.8rem);
}

.dropdownContent button:hover,
.dropdownContent .active {
    background-color: var(--light_gray);
}

.divider {
    border-top: 1px solid var(--gray);
    margin: 0;
}

.filterter:hover .dropdown,
.filterter .dropdown:hover {
    display: block;
}
.radio-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.25rem;
    width: 400px;
    font-size: 14px;
}
.radio-inputs button {
    margin: 0;
    border: none;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
}
.visibles {
    border-radius: 0.5rem;
    color: var(--dark_blue);
    font-weight: var(--bold);
    transition: all .15s ease-in-out;
    margin: 1rem 1rem 1rem 0;
    padding: 0;
    background-color: transparent;

}
.visibles2{
    cursor: pointer;
    background-color: transparent;
}

.active {
    background-color: #fff;
    font-weight: 600;
}

.Filtertabs {
    border-top: 2px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.selected {
    display: flex; /* Make .selected a flex container */
    align-items: center; /* Center items vertically */
    gap: 2rem;
}
.counter{
    margin: 0;
}
.delete {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.delete:hover{
    background-color: color-mix(in srgb, var(--red) 80%, #000000);
}