.customers-wrapper{
    padding-bottom: 6rem;
    padding-top: 2rem;
}
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
}
.guardar, .cancel{
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.guardar {
    width: 9.5rem;
    background-color: var(--blue);
}
.cancel{
    width: 2.5rem;
    background-color: var(--yellow);
}
.guardar:hover{
    background-color: color-mix(in srgb, var(--blue) 80%, #000);
}
.cancel:hover{
    background-color: color-mix(in srgb, var(--yellow) 80%, #000);
}

.editar{
    background-color: var(--dark_gray);
    padding: .5rem 0;
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
}
.editar i{
    font-size: 1rem;
}
.editar:hover{
    background-color: black;
}
.save-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 163);
    padding: 5px;
    height: 20px;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
}

.cell-select input,
.col-select input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid var(--dark_gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.cell-select input:checked,
.col-select input:checked {
    background-color: var(--dark_gray);
    transition: all .3s ease-in-out;
    position: relative;
}

.cell-select input:checked::after,
.col-select input:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '✓';
    color: var(--white);
}
.cell-confirmed{
    text-align: center;
}
.cell-confirmed p{
    margin: 0;
}
/* costumers.module.css */
.container {
    position: relative;
}

tr.selectedRow{
    border: #d1c5ff !important;
}
.selectedRow td {
    background-color: #eef1f3 !important;
}
.contactbtn{
    font-size: 15px;
    color: white;
    background-color: var(--dark_gray);
   margin: 5px;
   border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.contactbtn:hover{
    background-color: black;
}

.contactbtnt{
    font-size: 15px;
    color: white;
    background-color: var(--dark_gray);
   margin: 5px;
   border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    rotate: 90deg;
}

.contactbtnt:hover{
    background-color: black;
}

.confirmed{
    background-color: #d1c5ff;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: inline;
    font-size: 1.2rem;
}
.confirmed-yes{
    background-color: color-mix(in srgb, var(--green) 30%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000000);
    padding: .5rem 1.3rem;
}
.confirmed-no{
    background-color: color-mix(in srgb, var(--red) 30%, #fff);
    color: color-mix(in srgb, var(--red) 80%, #000000);
}

.loading{
    animation: pulse 2s infinite;
    cursor: progress;
}
@keyframes pulse {
    0%, 100% {
      color: #fff; /* Color original */
    }
    50% {
      color: #838383; /* Color opaco */
    }
}