.btn-new-ad {
    all: unset;
    cursor: pointer;
    color: #ffffff;
    
    padding: 1rem 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    justify-content: end;
    font-weight: bold;
}
.btn-new-ad{
    background-color: var(--dark_gray);
}
.btn-new-ad:hover {

    color: #ffffff;
    background-color: #000000;

}
.btn-new-ad p {
    margin: 0;
}
.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}