.sidebar{
    background-color: var(--white);
    width: 20rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px){
    .sidebar{
        width: 8rem;
    }
}
@media (max-width: 478px){
    .sidebar{
        width: 100%;
    }
}
.sidebar-header{
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid var(--gray_dashboard);
}
@media (max-width: 478px){
    .sidebar-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    display: none;
}
@media (max-width: 478px){
    .menu{
        display: inline;
        font-size: 3rem;
        cursor: pointer;
        padding: 0 2rem;
    }
}
.store{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 1rem;
}
@media (max-width: 478px){
    .store{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px){
    .store{
        padding: 1rem;
    }
}
.logo{
    width: 6rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
@media (max-width: 768px){
    .title{
        display: none;
    }
}
.title h2{
    margin: 0;
}
.title h3{
    margin: 0;
    font-size: 1.4rem;
    font-weight: var(--bold);
}
.title p{
    margin: 0;
    font-size: 1.2rem;
}
.main-menu{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
}
.setting-menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 1rem;
}
.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
@media (max-width: 478px){
    .body{
        max-height: 0;
        overflow-y: hidden;
        flex: unset;
        transition: all 0.3s ease;
    }
    .menu-active{
        max-height: 100vh;
        transition: all 0.3s ease;
    }
}
.item{
    all: unset;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--white);
    font-size: 1.4rem;
}
@media (max-width: 768px){
    .item{
        justify-content: center;
    }
}
@media (max-width: 478px){
    .item{
        justify-content: unset;
    }
}
.item p{
    margin: 0;
}
@media (max-width: 768px){
    .item p{
        display: none;
    }
}
@media (max-width: 478px){
    .item p{
        display: inline;
    }
}
.item_active{
    background-color: var(--gray_dashboard);
}