.heading{
    font-size: 3.4rem;
    margin: 4rem 0;
}

/* Style the tab */
.tab {
    margin-top: 100px;
    overflow: hidden;
    border-bottom:  1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    border-bottom:  1px solid #000;
    border-radius: 10px 10px 0 0; /* top-left, top-right, bottom-right, bottom-left */
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ddd;
    border-bottom:  1px solid #000;
    border-radius: 10px 10px 0 0; /* top-left, top-right, bottom-right, bottom-left */
  
  }

  .Borrar{
    position: relative;
    color: var(--red);
    font-weight: bolder;
    border: none;
    padding: 5px;
    border-radius: 5px;
    left: -5px;
  }
  .Borrar:hover{
    background-color: #ddd;

  }

.list{
    position: relative;
    margin:0;
    left: -25px;
    padding-left: 0; /* Remove default left padding */
    content: "•"; /* Unicode character for bullet */
}
  

    /* Style the tab content */
    .tabcontent {
      display: flex;
      padding: 6px 12px;
  
    }

  .leftdiv{
    width: 40%;
  
  }
  .rightdiv{
    width: 60%;
    border-left: 1px solid #ccc;
  }
  .rightcontent{
    padding-left: 20px;
    margin-top: 10%;
  }
  .linksettings{
    border: none;
    color: rgb(11, 11, 163);
    left: -5px;
    position: relative;
    background-color: #ebebeb;
  }
  .linksettings:hover{
    color: rgb(0, 0, 255);
    cursor: url('path/to/clicker-cursor.png'), pointer;
  }
  .divinfo{
    background-color: #ebebeb;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3); /* Box shadow for depth */
    color:#000000;

  }
  
  .divinfo:hover {
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.5); /* Box shadow for depth */
    color:#000000;
    transition: 0.4s;

  }
  .profilecard{
    display: block;
    background-color: #e4d129;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3); /* Box shadow for depth */
    color:#fffafa;
  }
  .linkother{
    width: 100%;
  }