.container {
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow */
    margin-left: 20px;
  }

  .button {
    margin-bottom: 20px;
    color: blue; /* Default text color */
    border: none;
    padding: 10px 30px; /* Increased padding to accommodate the arrow */
    border-radius: 5px;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    font-family: Arial, sans-serif; /* Specify font family */
    position: relative; /* Required for relative positioning of the arrow */
  }
  
  .button::before {
    content: '\2192'; /* Unicode character for right arrow */
    position: absolute;
    top: 50%; /* Vertically center the arrow */
    right: 10px; /* Adjust the distance from the right edge */
    transform: translateY(-50%); /* Center the arrow vertically */
  }
  
  
  
  .button1{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: darkred; /* Default background color */
    color: #fff; /* Default text color */
    border: none;
    padding: 10px 30px; /* Increased padding to accommodate the arrow */
    border-radius: 5px;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    font-family: Arial, sans-serif; /* Specify font family */
   
  }

  .button2{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: blue; /* Default background color */
    color: #fff; /* Default text color */
    border: none;
    padding: 10px 30px; /* Increased padding to accommodate the arrow */
    border-radius: 5px;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    font-family: Arial, sans-serif; /* Specify font family */
  }


  .button3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue; /* Default text color */
    border: none;
    padding: 10px 30px; /* Increased padding to accommodate the arrow */
    border-radius: 5px;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    font-family: Arial, sans-serif; /* Specify font family */
  }


  .section {
    margin-bottom: 30px;
    
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .input,
  .textarea,
  .fileInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea {
    resize: vertical;
  }
  
  .fileInput {
    cursor: pointer;
  }

  

  
  
  