.heading{
    font-size: 3.4rem;
    margin: 4rem 0;
}

/* Style the tab */
.tab {
    margin-top: 100px;
    overflow: hidden;
    border-bottom:  1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    border-bottom:  1px solid #000;
    border-radius: 10px 10px 0 0; /* top-left, top-right, bottom-right, bottom-left */
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ddd;
    border-bottom:  1px solid #000;
    border-radius: 10px 10px 0 0; /* top-left, top-right, bottom-right, bottom-left */
  
  }

  .Borrar{
    position: relative;
    color: var(--red);
    font-weight: bolder;
    border: none;
    padding: 5px;
    border-radius: 5px;
    left: -5px;
  }
  .Borrar:hover{
    background-color: #ddd;

  }

.list{
    position: relative;
    margin:0;
    left: -25px;
    padding-left: 0; /* Remove default left padding */
    content: "•"; /* Unicode character for bullet */
}
  

    /* Style the tab content */
    .tabcontent {
      display: flex;
      padding: 6px 12px;
  
    }

  .leftdiv{
    width: 40%;
  
  }
  .rightdiv{
    width: 60%;
    border-left: 1px solid #ccc;
  }
  .rightcontent{
    padding-left: 20px;
    margin-top: 10%;
  }
  .linksettings{
    border: none;
    color: rgb(11, 11, 163);
    left: -5px;
    position: relative;
    background-color: #ebebeb;
  }
  .linksettings:hover{
    color: rgb(0, 0, 255);
    cursor: url('path/to/clicker-cursor.png'), pointer;
  }
  .divinfo{
    background-color: #ebebeb;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3); /* Box shadow for depth */
    color:#000000;

  }
  
  .divinfo:hover {
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.5); /* Box shadow for depth */
    color:#000000;
    transition: 0.4s;

  }
  .profilecard{
    display: block;
    background-color: #e4d129;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 16px 32px 0 rgba(56, 57, 71, 0.3); /* Box shadow for depth */
    color:#fffafa;
  }
  .linkother{
    width: 100%;
  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.field{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}
.field label{
    font-size: 1.4rem;
}
.field textarea{
    resize: none;
}
.field input, .field textarea{
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
    border-radius: 1rem;
}
.body{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 15rem;
  position: relative;
}
.fieldD{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
}

.fieldD label{
  font-size: 1.4rem;
}
.fieldD input, .fieldD textarea{
  font-weight: bold;
  font-size: 1.4rem;
  color:#000;
  padding: 1rem;
  border: 1px solid black;
  background-color: var(--white);
  box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); /* Box shadow for depth */
  border-radius: 1rem;
}
.buttoncontactchange{
  border: none;
  background-color: var(--blue);
  color: var(--white);
  width: 250px;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}
.buttoncontactchange:hover{

  background-color: var(--dark_blue)

}
.interiorbutton{
  font-size: 12px;
  color:#ddd;
}
.buttoncontactchange p {
  padding: 0px;
  margin:0px;
}
.buttondiv{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: center; /* Align text horizontally */
}
.headingback{
  font-size: 3.4rem;
  margin: 4rem 0;
  opacity: 30%;
  color: #000;
}

.Buttonguardar{
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}
.Buttonguardar:hover {
  background-color: var(--dark_blue)
}