.container {
  display: flex;
  flex-direction: row; /* Default row layout for larger screens */
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto; 
  background: rgba(255, 255, 255, 0.432);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.432);
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.23);
  width: 80%;
  margin-bottom: 20px;
}

.textSection, .imageSection {
  flex: 1;
  text-align: center;
}

.ipadImage {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin: 10%;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.23);
}

.learnMore {
  font-size: 2rem;
  color: #124f8c;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  transform: translateX(-50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.learnMore:hover {
  background-color: #8a96a2;
  transform: translateX(-50%) translateY(-2px);
}

/* Small screens: 768px and below */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack image on top */
    width: 100%;
    padding: 10px;
  }

  .textSection, .imageSection {
    width: 100%;
    margin: 0;
  }

  .ipadImage {
    width: 100%; /* Make image take full width */
    margin: 0;
  }
  .learnMore{
    display: none;
  }
}
