<h1 style="text-align: center; font-family: Arial, Helvetica;">Confirma tu cuenta</h1>

<p style="font-family: Arial, Helvetica;">Hola {{name}}, te desemos la bienvenida de parte del Equipo de SparkAxe</p>

<p style="font-family: Arial, Helvetica;">
    Estás en el último paso para formar parte de SparkAxe, por favor confirma tu cuenta en el siguiente enlace:
    <a style="
        display: block;
        font-family: Arial, Helvetica;
        padding: 1rem;
        background-color: #00C897;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;" 
    href="{{url}}">Confirmar Cuenta</a>
</p>

<p style="font-family: Arial, Helvetica;">Si no puedes ver este correo, visita: <a href="{{url}}">{{url}}</a></p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste tu registro en SparkAxe, por favor ignora este correo.</p>