:root{
  /* Media Queries Breakpoints */
  --phone: 480px;
  --tablet: 768px;
  --desktop: 1024px;
  --xl_desktop: 1450px;

  /* General Colors */

  --dark_blue: #1D3A7C;
  --blue: #1851D1;
  
  --red: #990000;
  --green: #00a100;
  --yellow: #eac704;
  
  
  /* Fonts Sizes */
  
  /* Fonts Weights */
  --thin: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;
  
  /* Fonts Families */
  --primary: 'Roboto', sans-serif;
  --secondary: 'Arial', sans-serif;
  
  /* General Styles */
  font-family: var(--primary);
}

[data-theme="light"]{
    --white: #FCFFFC;
    --gray: #E5E5E5;
    --light_gray: #F2F2F4;
    --gray_dashboard: #EDEFF1;
    --dark_gray: #7C7C7C;
    
    /* General Styles */
    color: #000;
    transition: color 0.5s ease-in-out;
}
[data-theme="dark"]{
    --white: #1A1A1A;
    --gray: #383838;
    --light_gray: #4e4e4e;
    --gray_dashboard: #090909;
    --dark_gray: #7d7d7d;
    
    
    color: #fff;
    transition: color 0.5s ease-in-out;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    height: 100vh;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}