.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: var(--white);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}
.buttons{
    display: flex;
    gap: 2rem;
}
.buttons button{
    margin: 0;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
}
.cancel{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0.5rem;
}
.cancel:hover{
    background-color: var(--dark_blue);
}
.delete{
    background-color: var(--red);
    color: var(--white);
    border-radius: 0.5rem;
}
.delete:hover{
    background-color: color-mix(in srgb, var(--red) 80%, #000);
}