.modal-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-profile {
  background-color: var(--white);
  position: relative;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 60rem;
}

.close-modal {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
}

.field label {
  font-size: 1.4rem;
}

.field textarea {
  resize: none;
}

.field input,
.field textarea {
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  background-color: var(--white);
  box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1);
  /* Box shadow for depth */
  border-radius: 1rem;
}

.body {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: flex-start;

  position: relative;
  width: 100%;
}

.Buttonguardar {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.Buttonguardar:hover {
  background-color: var(--dark_blue)
}

.Newwebsite {
  background-color: #5a5a5a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.Newwebsite:hover {
  background-color: #000000;
}

.edit {
  margin-top: 20px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.edit:hover {
  background-color: var(--dark_blue);
}



.field {
  padding: 0px;
}

.field input,
.field textarea {
  height: auto;

}

form {
  margin-bottom: 10px;
}

.back {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #858383;
  font-weight: bold;
  padding: 0%;
}

.back:hover {
  color: #000000;
}

.backhead {
  color: #858383;
  cursor: pointer;
}
h3.config-title{
  margin-bottom: 0;
}
.config-title{
  text-align: center;
}
.line{
  border-bottom: 1px solid var(--blue);
  margin-top: 10px;
  margin-bottom: 10px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.info-field{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.info-field h3{
  font-size: 1.4rem;
  color: var(--dark_gray);
  margin: 0;
}
.info-field p{
  margin: 0;
}
.table{
  width: 100%;
}
.table td{
  width: 50%;
}