

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagecontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 80%;
  margin: 20px auto; /* Centra y da espacio alrededor del contenedor de imágenes */
}

.imagecontainer img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}

.content {
  margin-top: 40px;
  width: 60%;
  font-size: 2rem;
  text-align: justify;
  padding-bottom: 100px;
  line-height: 1.6; /* Mejora la legibilidad del texto */
}

@media (max-width: 800px) {
  .head {
      font-size: 5rem; /* Ajuste del tamaño de fuente para pantallas más pequeñas */
  }
  .content {
      width: 90%; /* Ancho ajustado para móviles */
      font-size: 2rem; /* Ajuste de la fuente para mejor legibilidad en pantallas pequeñas */
  }
  .imagecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 80%;
    margin: 20px auto; /* Centra el contenedor de imágenes horizontalmente */
    justify-items: center; /* Centra los elementos dentro de la cuadrícula */
}

.imagecontainer img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    display: block; /* Asegura que las imágenes se comporten como elementos de bloque */
}
}

.contactbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  color: black;
  text-align: center;
  width: 100%;

}

.contactbuttons:hover{
  box-shadow: 0 6px 34px rgba(0, 0, 0, 0.322);
  transition: 0.5s;
}

.axworker{
  height: 100%;
  width: 100%;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
  justify-items: center;
  align-items: center;
  margin: 0 auto; 
  padding: 20px; 
  background: transparent;
}
.contactSec{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 70%; 
  margin: 0 auto; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.432);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.432);
  margin-bottom: 100px;
}

.aboutimg{
  border-radius: 20px;
  width: 50%;
  height: 100%;
}
.imgdiv{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 450px;
  overflow: hidden;
}

.header{
  font-size: 2rem;
  text-align: center;
}

.head {
  width: 70%;
  margin: 0 auto; 
  font-size: 7.4rem;
  text-align: center;
  color:rgb(103, 103, 101);
  margin-bottom: 40px;
}

.head span {
  color: #000000;
}