.go-back{
    margin: 3rem 0;
}
.go-back a{
    all: unset;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--blue);
}
.go-back a:hover{
    color: var(--dark_blue);
    text-decoration: underline;
}
.heading{
    font-size: 2rem;
    margin: 2rem 0;
}
.body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 5rem;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.field{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}
.field label{
    font-size: 1.4rem;
}
.field textarea{
    resize: none;
}
.field input, .field textarea{
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 1rem;
}
.input-color{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-color div{
    width: 6rem;
    height: 3rem;
}
.preview{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
}
.preview p{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}
.right{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
}
.button{
    all: unset;
    background-color: var(--blue);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
}
.button:hover{
    background-color: var(--dark_blue);
}