.go-back{
    margin: 3rem 0;
}
.go-back a{
    all: unset;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--blue);
}
.go-back a:hover{
    color: var(--dark_blue);
    text-decoration: underline;
}
.heading{
    font-size: 2rem;
    margin: 2rem 0;
}