.go-back{
    margin: 3rem 0;
}
.go-back a{
    all: unset;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--blue);
}
.go-back a:hover{
    color: var(--dark_blue);
    text-decoration: underline;
}
.heading{
    font-size: 2rem;
    margin: 2rem 0;
}
.body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 15rem;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.field{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}
.field label{
    font-size: 1.4rem;
}
.field textarea{
    resize: none;
}
.field input, .field textarea{
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 1rem;
}
.input-color{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-color div{
    width: 6rem;
    height: 3rem;
}
.input-category{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}
.input-category input{
    width: 95%;
}
.initial-categories{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.initial-categories button{
    all: unset;
    margin: 0;
    padding: 1rem;
}
.initial-categories button:hover{
    background-color: var(--blue);
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
}
.btn-add-category{
    all: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
}
.preview p{
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}
.right{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
}
.button{
    all: unset;
    background-color: var(--blue);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
}
.button:hover{
    background-color: var(--dark_blue);
}
.btn-publish{
    background-color: var(--green);
}
.btn-publish:hover{
    background-color: color-mix(in srgb, var(--green) 85%, #000);
}
.categories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.category{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.label-delete{
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    align-items: center;
}
.btn-delete-category{
    all: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--red);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
}
.input-subcategories{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input-subcategories-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.input-subcategories input{
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
}
.subcategories{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
}
.subcategories p{
    background-color: var(--blue);
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
}