.products-wrapper{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.Textfilter {
    margin-right: 10px;
}

.searcher {
    position: relative;
}

.searcher input {
    padding: .5rem .5rem .5rem 3rem;
    width: 400px;
    height: 40px;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
    margin: 0;
    background-color: var(--white);
}

.search-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1rem;
    font-size: 1.2rem;
    color: var(--dark_gray);
}

.btn-new-product {
    all: unset;
    cursor: pointer;
    color: #ffffff;
    background-color: #5a5a5a;
    padding: 1rem 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    justify-content: end;
    font-weight: bold;
}

.btn-new-product:hover {

    color: #ffffff;
    background-color: #000000;

}

.btn-new-product p {
    margin: 0;
}

@media (max-width: 478px) {
    .btn-new-product p {
        display: none;
    }
}

.searcher {
    display: flex;
    align-items: center;
}

.btn-new-product:hover {
    color: #fff;
    background-color: #000000;
}

.table-wrapper {
    overflow-x: scroll, hidden;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid var(--gray);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1);
    /* Box shadow for depth */

}

@media (max-width: 768px) {
    table {
        width: 90rem;
    }
}

thead {
    background-color: var(--gray);
}

th {
    padding: 1.5rem 0;
    font-size: 1.4rem;
}

.col-published,
.col-actions,
.col-description {
    width: 10%;
}

.col-name,
.col-category,
.col-price {
    width: 15%;
}

.col-id,
.col-color,
.col-image,
.col-select {
    width: 5%;
}

tr td {
    text-align: center;
    padding: .5rem 0;
    border-bottom: 2px solid var(--gray);
    font-size: 1.2rem;
    background-color: var(--white);
}

tr:last-of-type td {
    border-bottom: none;
}

.noproducts {
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;
}

.noproducts a {
    color: var(--blue);
}

.cell-select input,
.col-select input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid var(--dark_gray);
    transition: all .3s ease-in-out;
}

.cell-select input:checked,
.col-select input:checked {
    background-color: var(--dark_gray);
    transition: all .3s ease-in-out;
    position: relative;
}

.cell-select input:checked::after,
.col-select input:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '✓';
    color: var(--white);
}

.cell-image img {
    width: auto;
    height: 4rem;
    border-radius: .5rem;
}

.cell-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-color div {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border-radius: .5rem;
}

.cell-published div {
    display: inline;
    padding: .5rem;
    margin: 0 auto;
    border-radius: .5rem;
    font-size: 1rem;
}

.published {
    background-color: color-mix(in srgb, var(--green) 30%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000000);
    font-weight: bold;
}

.unpublished {
    background-color: color-mix(in srgb, var(--yellow) 30%, #fff);
    color: color-mix(in srgb, var(--yellow) 80%, #000000);
    font-weight: bold;
}

.cell-actions {
    text-align: center;
}

.cell-actions a {
    all: unset;
    cursor: pointer;
}

.cell-actions i,
.cell-description i {
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.cell-description button{
    all: unset;
    cursor: pointer;
}
.cell-actions,
.cell-description {
    font-size: 2.2rem;
}

.cell-actions:hover,
.cell-description:hover {
    color: var(--dark_gray);
    transition: all .1s ease-in-out;
}
.modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-description{
    background-color: var(--white);
    position: relative;
    border-radius: 1rem;
    padding: 2rem;
    min-width: 40rem;
}
.close-modal{
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}



.btn-filter {
    all: unset;
    margin-left: 0rem;
    cursor: pointer;
    background-color: transparent;
}

.filterter {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
    position: relative;
}

.darkmode,
.filterter {
    cursor: pointer;
    border-radius: 1rem;
}


.dropdown {
    position: absolute;
    display: none;
    bottom: 0rem;
    /* Position the dropdown content below the profile element */
    transform: translateY(100%);
    width: 12rem;
}

.dropdownContent {
    background-color: var(--white);
    flex-basis: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 12rem;
}

.dropdownContent button {
    all: unset;
    font-weight: var(--bold);
    padding: 1rem 1.4rem;
    border-radius: 0rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dropdownContent button:hover,
.dropdownContent .active {
    background-color: var(--light_gray);
    width: 9rem;
}

.divider {
    border-top: 1px solid var(--gray);
    margin: 0;
}

.filterter:hover .dropdown,
.filterter .dropdown:hover {
    display: block;
}

.imgAX {
    height: 300px;
    width: 400px;
}

.radio-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.25rem;
    width: 400px;
    font-size: 14px;
}
.radio-inputs button {
    margin: 0;
    border: none;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
}
.visibles {
    border-radius: 0.5rem;
    color: var(--dark_blue);
    font-weight: var(--bold);
    transition: all .15s ease-in-out;
    margin: 1rem 1rem 1rem 0;
    padding: 0;
    background-color: transparent;

}
.visibles2{
    cursor: pointer;
    background-color: transparent;
}

.active {
    background-color: #fff;
    font-weight: 600;
}

.Filtertabs {
    border-top: 2px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.selected {
    display: flex; /* Make .selected a flex container */
    align-items: center; /* Center items vertically */
    gap: 2rem;
}
.counter{
    margin: 0;
}
.delete {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.delete:hover{
    background-color: color-mix(in srgb, var(--red) 80%, #000000);
}
.selectedRow{
    border: #d1c5ff;
}
.selectedRow td {
    background-color: #eef1f3; /* Change this to the color you prefer */
    /* box-shadow: 0 16px 32px 0 rgba(31, 38, 135, 0.1); */
}
.cargar{
    background-color: var(--dark_gray);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
}
.cargar:hover{
    background-color: black;
}