.products-wrapper{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn-new-product, .btn-edit-categories {
    all: unset;
    cursor: pointer;
    color: #ffffff;
    
    padding: 1rem 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    justify-content: end;
    font-weight: bold;
}
.btn-new-product{
    background-color: var(--dark_gray);
}
.btn-edit-categories{
    background-color: var(--yellow);
    color: color-mix(in srgb, var(--yellow) 50%, #000);
}
.btn-new-product:hover {

    color: #ffffff;
    background-color: #000000;

}

.btn-new-product p, .btn-edit-categories p {
    margin: 0;
}

@media (max-width: 478px) {
    .btn-new-product p {
        display: none;
    }
}
.btn-new-product:hover {
    color: #fff;
    background-color: #000000;
}

.table-wrapper {
    overflow-x: scroll, hidden;
}
.cell-select input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid var(--dark_gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.cell-select input:checked {
    background-color: var(--dark_gray);
    transition: all .3s ease-in-out;
    position: relative;
}

.cell-select input:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '✓';
    color: var(--white);
}

.cell-image img {
    width: auto;
    height: 4rem;
    border-radius: .5rem;
}

.cell-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-color div {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border-radius: .5rem;
}

.btn-categories{
    all: unset;
    cursor: pointer;
    font-size: 1.6rem;
}

.cell-published div {
    display: inline;
    padding: .5rem;
    margin: 0 auto;
    border-radius: .5rem;
    font-size: 1rem;
}

.published {
    background-color: color-mix(in srgb, var(--green) 30%, #fff);
    color: color-mix(in srgb, var(--green) 80%, #000000);
    font-weight: bold;
}

.unpublished {
    background-color: color-mix(in srgb, var(--yellow) 30%, #fff);
    color: color-mix(in srgb, var(--yellow) 80%, #000000);
    font-weight: bold;
}

.cell-actions {
    text-align: center;
}

.cell-actions a {
    all: unset;
    cursor: pointer;
}

.cell-actions i,
.cell-description i {
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.cell-description button{
    all: unset;
    cursor: pointer;
}
.cell-actions,
.cell-description {
    font-size: 2.2rem;
}

.cell-actions:hover,
.cell-description:hover {
    color: var(--dark_gray);
    transition: all .1s ease-in-out;
}
a.editar{
    background-color: var(--dark_gray);
    padding: .5rem 0;
    color: var(--white);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
}
a.editar i{
    font-size: 1rem;
}
a.editar:hover{
    background-color: black;
}
.modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-description{
    background-color: var(--white);
    position: relative;
    border-radius: 1rem;
    padding: 2rem;
    min-width: 40rem;
    transform: translateY(-2rem);
    transition: all .3s;
    opacity: 0;
}
.show{
    opacity: 1;
    transform: translateY(0);
    transition: all .3s;
}
.close-modal{
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}
.close-modal:hover{
    color: var(--red);
}
tr.selectedRow{
    border: #d1c5ff !important;
}
tr.selectedRow td {
    background-color: #eef1f3 !important;
}
.descriptioninfo{
    color: rgb(99, 93, 93);
    font-weight: normal;
    max-width: 350px;
    line-height: 1.5;
}
.descriptioninfotitle{
    font-weight: bold;
}